.btn {
    border: none;
    background-color: none;
    &_text {
        font-family: 'Montserrat';
        font-weight: 700;
        @include fz(16);
        line-height: 36px;
        color: $white;
        text-transform: uppercase;
    }
    &_white {
        height: 42px;
        padding: 0 45px;
        border: 2px solid $white;
        border-radius: 6px;
        background: transparent;
        font-family: 'Montserrat';
        font-weight: 700;
        @include fz(16);
        line-height: 36px;
        color: $white;
        text-transform: uppercase;
        a {
            font-family: 'Montserrat';
            font-weight: 700;
            @include fz(16);
            line-height: 36px;
            color: $white;
        }
        &:hover {
            transform: scale(1.2);
        }
    }
    &_green {
        height: 42px;
        padding: 0 20px;
        background: $green_btn;
        border-radius: 6px;
        a {
            font-family: 'Montserrat';
            font-weight: 700;
            @include fz(16);
            line-height: 36px;
            text-transform: uppercase;
            color: $white;
        }
        &:hover {
            transform: scale(1.2);
        }
    }
    &_talk {
        display: block;
        margin: 0 auto;
        height: 42px;
        padding: 0 25px;
        background: $white;
        border: 2px solid $green_btn;
        border-radius: 6px;
        font-family: 'Montserrat';
        font-weight: 700;
        @include fz(16);
        line-height: 36px;
        text-transform: uppercase;
        color: $green_btn;
        transition: all .7s ease;
        &:hover {
            background: $green_btn;
            color: $white;
        }
    }
    &_form {
            width: 70%;
            color: $white;
            text-align: center;
            font-family: Montserrat;
            @include fz(18);
            font-weight: 700;
            text-transform: uppercase;
            margin: 10px 0 0 0;
    }
    &_toggle, &_rotate {
        display: block;
        margin: 0 auto;
        background: none;
        font-family: 'Montserrat';
        font-weight: 400;
        @include fz(22);
        color: $medium_text;
        padding: 6px 0 0 0;
        position: relative;
        &::before {
            content: '';
            position: absolute;
            bottom: 9px;
            right: -20px;
            width: 10px;
            height: 10px;
            border-bottom: 2px solid $medium_text;
            border-left: 2px solid $medium_text;
        }
    }
    &_rotate::before {
        transform: rotate(-45deg);
    }
    &_toggle::before {
        transform: rotate(-225deg);
        bottom: 4px;

    }
    &_next, &_prev {
        position: relative;
        background: none;
        border: none;
        @include fz(0);
        &::before {
            content: '';
            position: absolute;
            width: 17px;
            height: 17px;
            border-top: 2px solid $bark_blue;
            border-right: 2px solid $bark_blue;
        }
    }
    &_next::before {
        top: 6px;
        left: -6px;
        transform: rotate(45deg);
    }
    &_prev::before {
        top: 6px;
        left: -15px;
        transform: rotate(-135deg);
    }
}