.folio-wrap .lg-react-element {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-template-rows: masonry;
  gap: 30px;
  align-items: start;
  .img-wrapper {
    margin-bottom: 0;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  
  // display: flex;
  // flex-wrap: wrap;
  // gap: 30px;
  // align-items: flex-start;
  // .img-wrapper {
  //   flex-basis: calc(33.3333% - 30px);
  //   align-self: flex-start;
  // }
}