//Montserrat Regular
@font-face {
    font-family: 'Montserrat';
    font-weight: 400;
    src: url(../fonts/Montserrat-Regular.woff2) format('woff2');
}

//Montserrat Light
@font-face {
    font-family: 'Montserrat';
    font-weight: 300;
    src: url(../fonts/Montserrat-Light.woff2) format('woff2');
}

//Montserrat Bold
@font-face {
    font-family: 'Montserrat';
    font-weight: 700;
    src: url(../fonts/Montserrat-Bold.woff2) format('woff2');
}

//Montserrat Semibold
@font-face {
    font-family: 'Montserrat';
    font-weight: 600;
    src: url(../fonts/Montserrat-SemiBold.woff2) format('woff2');
}

//Montserrat Medium
@font-face {
    font-family: 'Montserrat';
    font-weight: 500;
    src: url(../fonts/Montserrat-Medium.woff2) format('woff2');
}

//Harabara
@font-face {
    font-family: 'Harabara';
    font-weight: 700;
    src: url(../fonts/Harabara.woff2) format('woff2');
}

//Open Sans Regular
@font-face {
    font-family: 'Open Sans';
    font-weight: 400;
    src: url(../fonts/OpenSans_Condensed-Regular.woff2) format('woff2');
}

//Open Sans Bold
@font-face {
    font-family: 'Open Sans';
    font-weight: 700;
    src: url(../fonts/OpenSans_Condensed-Bold.woff2) format('woff2');
}

//Noto Sans Bold
@font-face {
    font-family: 'Noto Sans';
    font-weight: 900;
    src: url(../fonts/NotoSans-ExtraBold.woff2) format('woff2');
}