.headers {
    font-family: 'Harabara';
    font-weight: 700;
    @include fz(36);
    line-height: 39px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: $bark_blue;
}

@media screen  and (max-width: 750px){
    .headers {
        @include fz(22);
        line-height: 28px;
        letter-spacing: 0.05em;
    }
}