//colors
$bark_blue: #194484;
$white: #fff;
$black: #000;
$dark_black: #242424;
$green_btn: #06B25F;
$blue: #00A4E8;
$header_hover: #49C7FA;
$medium_blue: #276ED8;
$light_blue: #84B5FF;
$medium_text: #0D6EB7;
$border_nav: #00A4E8;
$hover_blue: #08A4E4;
$gray_bg: #F4F8FD;
$under: #4C4C4C;
$form_color: #A9A9A9;
$form_border: #D7D7D7;
$base-size: 16;


@mixin fz($size_px) {
    font-size: calc($size_px/$base-size)*1rem;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    html,body
    {
        width:100%;
        height:100%}
    ul,ol{
        list-style:none
    }
    a ,button{
        cursor:pointer;
        transition: .4 all ease;
    }
    a {
        text-decoration: none;
    }
    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        vertical-align: top;
    }
    .container {
        margin: 0 auto;
        max-width: 1360px;
        width: 90%;
    }

    .bark_blue {
        color: $bark_blue;
    }
    .blue_color {
        color: $blue;
    }
@import './headers_style.scss';
@import './fonts.scss';
@import './block_styles/first_screen.scss';
@import './block_styles/clutch.scss';
@import './buttons.scss';
@import './block_styles/techno.scss';
@import './block_styles/services.scss';
@import './block_styles/solution.scss';
@import './block_styles/achievements.scss';
@import './navigation/header.scss';
@import './block_styles/partners.scss';
@import './block_styles/information.scss';
@import './block_styles/front_section.scss';
@import './navigation/footer.scss';
@import './block_styles/serviceLayout.scss';
@import './block_styles//products.scss';
@import './block_styles/contact_form.scss';
@import "~slick-carousel/slick/slick.css"; 
@import "~slick-carousel/slick/slick-theme.css";
@import './block_styles/portfolio.scss';
@import './blog/blog.scss';
@import './block_styles/links.scss';
@import './block_styles/underfooter.scss';
@import './block_styles//team.scss';
@import './block_styles//night.scss';
@import './block_styles/joinInfo.scss';
@import './navigation/notfound.scss';
@import './block_styles/servslider.scss';
@import './block_styles/accordion.scss';
@import './animations/animation.scss';
@import './block_styles/joinTeamAccordion.scss';