.join {
    padding: 50px 0 120px 0;
    &_wrapper {
        display: flex;
        gap: 140px;
    }
    &_left, &_right {
        width: 40%;
    }
    &_text {
        font-family: 'Montserrat';
        font-weight: 400;
        @include fz(16);
        line-height: 26px;
        color: $black;
    }
    &_bold {
        font-weight: 700;
        margin: 13px 0 13px 0;
    }
    .mrgn {
        margin: 0 0 13px 0;
    }

}


@media screen and (max-width: 850px){
    .join {
        padding: 50px 0 70px 0;
        &_wrapper {
            flex-direction: column;
            gap: 20px;
        }
        &_left, &_right {
            width: 100%;
        }

    
    }
}