.night {
    padding: 10px 0 40px 0;
    &_wrapper {
        display: flex;
        align-items: center;
        gap: 185px;
    }
    &_info {
        width: 41%;
    }
    &_text {
        font-family: 'Montserrat';
        font-weight: 400;
        @include fz(16);
        font-size: 16px;
        line-height: 26px;
        color: $black;
    }
    &_header {
        color: $medium_text;
        font-family: 'Montserrat';
        font-weight: 700;
        @include fz(24);
        line-height: 34px;
        margin: 0 0 14px 0;
    }
    .bold {
        font-weight: 700;
    }
    .mrgb_20 {
        margin: 0 0 20px 0;
    }
    .row_reverse {
        flex-direction: row-reverse;
        justify-content: flex-end;
    }
    .blue {
        color: $medium_text;
        margin: 15px 0 23px 0;
    }
}

@media screen and (max-width: 1100px){
    .night {
        &_wrapper {
            flex-direction: column-reverse;
            gap: 35px;
        }
        &_info {
            width: 100%;
        }
        &_picture {
            height: 265px;
        }
        .row_reverse {
            flex-direction: column-reverse;
        }
    }
}