.partners {
    padding: 50px 0 76px 0;
    background-color: #F7F9FE;
    position: relative;
    margin: 40px 0;
    &::before, &::after {
        position: absolute;
        content: '';
        width: 100%;
        left: 0;
        background-image: url(../../img/background/graybg.svg);
        background-repeat: no-repeat;
        background-size: 100%;
    }
    &::before {
        height: 227px;
        top: -227px;
        background-position: center top;
    }
    &::after {
        height: 192px;
        bottom: -192px;
        background-position: center bottom;
    }
    &_grid {
        position: relative;
        z-index: 99;
        margin: 80px 0 0 0;
        padding: 10px 0 25px 0;
        display: grid;
        grid-template-columns: repeat(4, 322px);
        gap: 40px 24px;
        justify-content: center;
    }

    &_item {
        width: 322px;
        height: 160px;
        box-shadow: 0px 3px 16px 4px rgba(29, 51, 107, 0.1);
        border-radius: 16px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background: white;
        &:nth-child(4n + 1) {
            transition-delay: 200ms;
          }
          &:nth-child(4n + 2) {
            transition-delay: 300ms;
          }
          &:nth-child(4n + 3) {
            transition-delay: 400ms;
          }
          &:nth-child(4n) {
            transition-delay: 500ms;
          }
        img {
            width: auto;
            height: auto;
            max-width: 254px;
        }
    }
}

  
  


@media screen and (max-width: 1450px) {
    .partners_grid {
        grid-template-columns: repeat(3, 322px);
    }
}
@media screen and (max-width: 1400px) {
    .partners {
        padding: 15px 0 23px 0;
        margin: 80px 0;
        &::before {
            height: 227px;
            top: -227px;
            background-position: center top;
        }
        &::after {
            height: 192px;
            bottom: -192px;
            background-position: center bottom;
        }
    }
}
@media screen and (max-width: 1050px){
    .partners{
        margin: 80px 0 100px 0;
    &_grid {
        grid-template-columns: repeat(2, 322px);
    }
}
}
@media screen and (max-width: 1050px){
    .partners{
        margin: 80px 0 100px 0;
    &_grid {
        grid-template-columns: repeat(2, 322px);
    }
}
}
@media screen and (max-width: 750px){
    .partners {
        background: $white;
        &::before, &::after {
            display: none;
        }
        &_grid {
            justify-content: center;
            align-items: center;
            grid-template-columns: repeat(2, 146px);
        }
        &_item {
            width: 146px;
            height: 73px;
            img {
                max-width: 122px;
                max-height: 71px;
            }
        }
    }
}


@media screen and (max-width: 600px){
    .partners {
        padding: 100px 0 70px 0;
        &_grid {
            grid-template-columns: repeat(2, 146px);
        }
       
    }
}