.portfolio {
    &_item {
        display: flex;
        box-shadow: 0px 3px 16px rgba(29, 51, 107, 0.15);
        border-radius: 12px;
        margin: 0 0 80px 0;
    }
    &_image {
        width: 49%;
    }
    &_info {
        padding: 24px 24px 24px 38px;
        width: 51%;
    }
    &_header {
        font-family: 'Harabara';
        font-weight: 700;
        @include fz(24);
        line-height: 38px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: $medium_blue;
        margin: 0 0 10px 0;
    }
    &_text {
        font-family: 'Montserrat';
        font-weight: 400;
        @include fz(16);
        line-height: 26px;
        color: $dark_black;
    }
    .mrgb_10 {
        margin: 0 0 10px 0;
    }
    .flex {
        flex-direction: row-reverse;
        img {
            border-radius: 0 12px 12px 0;
        }
    }
    .border_r {
        img {
            border-radius: 12px 0 0 12px;
        }
    }
}

@media screen and (max-width: 1500px){
    .portfolio {
        &_text {
            @include fz(14);
            line-height: 28px;
        }
    }
}

@media screen and (max-width: 850px){
    .portfolio {
        &_item {
            flex-direction: column;
        }
        &_image {
            width: 100%;
            height: 263px;
            img {
                object-fit: fill;
            }
        }
        &_info {
            width: 100%;
        }
        .flex {
            flex-direction: column;
            img {
                border-radius: 12px 12px 0 0;
            }
        }
        .border_r {
            img {
                border-radius: 12px 12px 0 0;
            }
        }
    }
}