.servslider {
    padding: 20px 0 120px 0;
    .headers {
        margin: 0 0 100px 0;
    }
    //for box-shadow add padding or the item will be cutted
    .slick-list {
        padding: 0 0 20px 0;
    }
    .slick-prev:before, .slick-next:before  {
        content: '';
        display: block;
        width: 25px;
        height: 25px;
        border-top: 5px solid $light_blue;
        border-left: 5px solid $light_blue;
    }
    .slick-prev:before {
        transform: rotate(-45deg);
    }
    .slick-next:before {
        transform: rotate(135deg);
    }
    &_item {
        border-radius: 16px;
        background: $white;
        box-shadow: 0px 3px 16px 2px rgba(29, 51, 107, 0.15);
        max-width: 400px;
        display: block !important;
        margin: 0 auto;
    }
    &_img {
        height: 294px;
        img {
            border-radius: 16px 16px 0 0;
        }
    }
    &_info {
        padding: 16px 16px 20px 16px;
        h2{
            @include fz(24);
            font-family: Harabara;
            font-weight: 700;
            line-height: 38px;
            letter-spacing: 1.2px;
            text-transform: uppercase;
            color: $bark_blue;
            margin-bottom: 8px;
        }
        p {
            @include fz(16);
            font-family: Montserrat;
            font-weight: 400;
            line-height: 26px;
            color: $black;
        }
    }
}

@media screen and (max-width: 1400px){
    .servslider {
        .slick-slider {
            width: 80%;
            margin: 0 auto;
        }
    }
}

@media screen and (max-width: 1200px){
    .servslider {
        .slick-slider {
            width: 100%;
            margin: 0 auto;
        }
    }
}

@media screen and (max-width: 950px){
    .servslider {
        .slick-slider {
            width: 70%;
            margin: 0 auto;
        }
    }
}

@media screen and (max-width: 650px){
    .servslider {
        .slick-slider {
            width: 93%;
            margin: 0 auto;
        }
    }
}

@media screen and (max-width: 550px){
    .servslider {
        &_item {
            max-width: 300px;
            margin: 0 auto;
        }
        &_img {
            height: 194px;
            img {
                border-radius: 16px 16px 0 0;
            }
        }
        &_info {
            h2{
                @include fz(16);
                line-height: 28px;
            }
        }
        .slick-slider {
            width: 80%;
            margin: 0 auto;
        }
    }
}

@media screen and (max-width: 450px){
    .servslider {
        .slick-prev, .slick-next {
            display: none !important;
        }
        .slick-slider {
            width: 100%;
            margin: 0 auto;
        }
    }
}