.layout {
    padding: 190px 0 240px 0;
    &_grid {
        margin: 51px 0 0 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 60px 24px;
    }
    &_wrapper {
        width: 322px;
        height: 320px;
        background-color: $gray_bg;
        box-shadow: 0px 3px 16px 4px rgba(29, 51, 107, 0.1);
        border-radius: 16px;
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        &:hover {
            background-color: $white;
            cursor: pointer;
        }
    }
    &_text {
        font-family: 'Harabara';
        font-weight: 700;
        @include fz(20);
        line-height: 30px;
        text-transform: uppercase;
        color: $medium_blue;
        max-width: 280px;
        width: 100%;
        text-align: center;
    }
}

@media screen and (max-width: 1400px){
    .layout {
        padding: 110px 0 120px 0;
    }
}

@media screen and (max-width: 750px){
    .layout {
        padding: 60px 0 80px 0;
        &_grid {
            gap: 40px 24px;
        }
        &_wrapper {
            width: 145px;
            height: 162px;
            img {
                max-height: 52px;
                width: auto;
                height: auto;
            }
        }
        &_text {
            @include fz(12);
            line-height: 22px;
            max-width: 129px;
            width: 100%;
        }
    }
}