.services {
    padding: 120px 0 62px 0;
    &_wrapper {
        display: flex;
        gap: 26px;
        margin: 32px 0 0 0;
    }
    &_left {
        width: 47%;
    }
    &_right {
        img {
            height: 300px;
        }
    }
    &_mrgn {
        margin: 0 0 26px 0;
    }
    &_header {
        font-family: 'Harabara';
        font-weight: 700;
        @include fz(24);
        line-height: 38px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: $medium_blue;
    }
    &_text {
        color: $dark_black;
        font-family: 'Montserrat';
        font-weight: 400;
        @include fz(16);
        line-height: 26px;
    }
    .flex_direction {
        flex-direction: row-reverse;
        justify-content: center;
        gap: 140px;
    }
    .disp_small {
        display: none;
    }
}

@media screen and (max-width: 950px){
    .services {
        .displ_none {
            display: none;
        }
        .disp_small {
            display: flex;
        }
        &_wrapper {
            gap: 0;
        }
        &_left {
            display: inline-flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        &_right {
            img {
                height: 250px;
            }
            
        }
    }
}

@media screen and (max-width: 750px) {
    .services {
        &_left {
            width: 85%;
        }
        &_wrapper {
            flex-direction: column;
            align-items: center;
        }
        .flex_direction {
            flex-direction: column;
            justify-content: center;
            gap: 20px;
        }
    }
}