.techno {
    padding: 120px 0;
    margin: 0 auto;
    max-width: 900px;
    width: 100%;

    &_styles {
        font-family: 'Montserrat';
        @include fz(24);
        line-height: 38px;
    }
    &_assets {
        color: $dark_black;
        font-weight: 700;
        text-align: center;
        margin: 60px 0 30px 0;
    }
    &_text {
        color: $dark_black;
        font-weight: 400;
        text-align: center;
    }
    &_flex {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 80px;
        margin: 0 auto;
        margin: 0 0 30px 0;
    }
    &_item {
        width: 64px;
        height: 64px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 4px 12px rgba(41, 24, 111, 0.2);
        border-radius: 16px;
        img {
            height: 40px;
            width: 35px;
        }
    }
    &_green {
        background-color: $green_btn;
    }
    &_blue {
        background-color: $medium_blue;
    }
    &_gray {
        background-color: $light_blue;
    }
}

@media screen and (max-width: 650px){
    .techno {
        margin: 54px 0 0 0;
        padding: 0 0 80px 0;
        &_assets {
            margin: 24px 0;
        }
        &_styles {
            @include fz(18);
        }
        &_text {
            @include fz(18);
        }
    }
}