.underfooter {
    height: 60px;
    background-color: $white;
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
    }
    &_stan, a {
        font-family: 'Open Sans';
        font-weight: 400;
        @include fz(14);
        line-height: 19px;
        color: $under;
    }
    &_text {
        display: flex;
        gap: 160px;
    }
}

@media screen and (max-width: 600px){
    .underfooter {
        .container {
            flex-direction: column;
            gap: 5px;
        }
        &_text {
            flex-direction: column;
            gap: 5px;
        }
    }
}