.footer {
    padding: 15px 0 12px 0;
    position: relative;
    background-color: $bark_blue;
    margin: 125px 0 0 0;
    &::before {
        position: absolute;
        content: '';
        width: 100%;
        left: 0;
        background-image: url(../../img/background/footerBG.svg);
        background-repeat: no-repeat;
        background-size: 100%;
        height: 450px;
    }
    &::before {
        top: -207px;
        background-position: center top;
    }
    .container {
        position: relative;
        z-index: 1000;
    }
    &_wrapper {
        display: flex;
        gap: 136px;
    }
    
    &_socials {
       .logo img {
            width: 200px;
            height: 50px;
        }
    }
    &_list {
        display: flex;
        gap: 60px;
        a {
            color: $white;
            text-transform: uppercase;
            &:hover {
                color: $hover_blue;
            }
        }
    }
    &_link {
        font-family: 'Montserrat';
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        margin: 0 0 18px 0;
    }
    &_link_main {
        font-family: 'Harabara';
        font-weight: 700;
        @include fz(20);
        line-height: 21px;
        letter-spacing: 0.07em;
    }
    &_submenu {
        margin: 29px 0 0 15px;
    }
    &_other{
        li {
            margin: 0 0 24px 0;
        }
    }
    &_linksWrapper {
        margin-top: 53px;
        max-width: 210px;
        display: flex;
        gap: 40px;
        flex-wrap: wrap;
    }
    svg {
        width: 40px;
        height: 45px;
        fill: $white;
        cursor: pointer;
        &:hover {
            fill: #66D6A0;
        }
    }
}

@media screen and (max-width: 1500px){
    .footer {
        &_wrapper {
            gap: 55px;
        }
        &_submenu {
            margin: 12px 0 0 7px;
        }
    }
}

@media screen and (max-width: 1100px){
    .footer {
        margin: 180px 0 0 0;
        padding: 10px 0 24px 0;
        &_wrapper {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        &_socials {
            display: flex;
            flex-direction: column;
            justify-content: center;
            .logo {
                display: inline-flex;
                justify-content: center;
                align-items: center;
            }
        }
        &_linksWrapper {
            max-width: 600px;
            width: 100%;
        }
    }
}



@media screen and (max-width: 700px){
    .footer {
        &::before {
            top: -90px;
            background-position: center top;
        }
        padding: 25px 0 24px 0;
        &_linksWrapper {
            margin: 47px 0 0 0;
        }

       &_list {
        flex-direction: column;
        gap: 3px;
       }
    }
}


@media screen and (max-width: 550px){
    .footer {
        &_linksWrapper {
            gap: 30px;
        }
    }
}