.notfound {
    margin: 100px 0 0 0;
    padding: 100px 0 80px 0;
    height: 80vh;
    text-align: center;
    background: url(../../img/NotFound.svg) center center/contain no-repeat;
    position: relative;
    &_wrapper {
        position: absolute;
        bottom: 7%;
        left: 33%;
        
    }
    h1 {
        font-family: 'Harabara';
        font-weight: 700;
        @include fz(44);
        line-height: 60px;
        text-transform: uppercase;
        color: $bark_blue;
        margin: 0 0 30px 0;
    }
}